@model IEnumerable<MyTasks.Models.ApplicationUser>

@{
    ViewData["Title"] = "Управление пользователями";
}

<h1>Пользователи</h1>
<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Логин</th>
            <th>Email</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Surname</td>
                <td>@user.Name</td>
                <td>@user.Patronymic</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="CreateUser">Добавить пользователя</a>
</p>